body {
  background: #141414 !important;
  color: #ffffff !important;
}

.banner {
  img {
    height: 650px;
    width: 100%;
    object-fit:fill;
  }
  span {
    position: absolute;
    top: 70%;
    left: 3%;
  }
  .btn-favorite {
    background: #f11111;
    color: #ffffff;
    border-color: #f11111;
  }
}

.movie-list {
  .d-flex {
    overflow-x: auto;
  }
  img {
    width: 250px;
    height: auto;
    object-fit: contain;
    border-radius: 5px;
  }
}

