$background: #141414;
$inputBackground: #454545;
$favBackground: #f11111;
$textColor: #ffffff;

body {
  background: $background !important;
  color: $textColor !important;
}

.banner {
  img {
    height: 650px;
    width: 100%;
    object-fit: fill;
  }
  span {
    position: absolute;
    top: 70%;
    left: 3%;
  }
  .btn-favorite {
    background: $favBackground;
    color: $textColor;
    border-color: $favBackground;
  }
}

.movie-list {
  .d-flex {
    overflow-x: auto;
    overflow-y: hidden;
  }
  img {
    width: 250px;
    height: auto;
    object-fit: contain;
    border-radius: 5px;
  }

  .image-container {
    position: relative;
    transition: transform 0.2s;
    &:hover {
      cursor: pointer;
      transform: scale(1.1);
      .overlay {
        opacity: 1;
      }
    }
    .overlay {
      position: absolute;
      background: rgba(0, 0, 0, 0.8);
      width: 100%;
      transition: 0.5s ease;
      opacity: 0;
      bottom: 0;
      font-size: 20px;
      padding: 20px;
      text-align: center;
    }
  }
}
.login {
  height: 100vh;
  .error {
    color: #ffa500;
    font-size: 12px;
  }
  input {
    background: $inputBackground;
    &:focus{
      background: $inputBackground;
    }
  }
  .login-form {
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(69,69,69, 0.5);
  }
}
