body {
  background: #141414 !important;
  color: #ffffff !important;
}

.banner {
  img {
    height: 650px;
    width: 100%;
    object-fit:fill;
  }
  span {
    position: absolute;
    top: 70%;
    left: 3%;
  }
  .btn-favorite {
    background: #f11111;
    color: #ffffff;
    border-color: #f11111;
  }
}

.movie-list {
  .d-flex {
    overflow-x: auto;
  }
  img {
    width: 250px;
    height: auto;
    object-fit: contain;
    border-radius: 5px;
  }

  .image-container {
    position: relative;
    transition: transform 0.2s;
    &:hover {
      cursor: pointer;
      transform: scale(1.1);
      .overlay {
        opacity: 1;
      }
    }
    .overlay {
      position: absolute;
      background: rgba(0,0,0,0.8);
      width: 100%;
      transition: 0.5s ease;
      opacity: 0;
      bottom: 0;
      font-size: 20px;
      padding: 20px;
      text-align: center;
    }
  }

}

